<table>
    <tr>
        <th>
            <%= @cat.name %>
        </th>
    </tr>
    <tr> <%= @cat.birth_date %> </tr>
    <tr> <%= @cat.color %></tr>
    <tr> <%= @cat.sex %></tr>
    <tr> <%= @cat.description %> </tr>
</table>